h2 {
	margin: 30px;
	font-size: 2em;
	color: #53cbbf;
}

p {
	font-size: 1em;
	color: #f1f1f1;
}

#story {
	width: 70vw;
	display: flex;
	flex-direction: row;
	text-align: left;
	align-items: center;
	justify-content: center;
}

#portrait {
	margin-left: 60px;
}

.highlighted-text {
	color: #53cbbf;
}

.list {
	columns: 3;
	list-style-image: url("./resources/list-image.png");
}

.list > li {
	padding-left: 0.5em;
	margin-bottom: 0.2em;
}
