#story {
	width: 70vw;
	display: flex;
	flex-direction: row;
	text-align: left;
	align-items: center;
	justify-content: center;
}

#portrait {
	margin-left: 60px;
}

.highlighted-text {
	color: #53cbbf;
}

.list {
	columns: 3;
	list-style-image: url("./resources/list-image.png");
	padding-inline-start: 15px;
}

.list > li {
	padding-left: 0.1em;
	margin-bottom: 0.2em;
}

@media (max-width: 768px) {
	#story {
		flex-direction: column;
	}

	#portrait {
		margin-left: 0px;
		margin-top: 30px;
	}
}
