#footer {
	width: 100vw;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: black;
	padding: 10px 60px;
	box-sizing: border-box;
}

#footer-text {
	margin-left: 10px;
	box-sizing: border-box;
}
