#home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

/* Style the video: 100% width and height to cover the entire window */
#my-video {
	object-fit: cover;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.content {
	color: #f1f1f1;
	width: 70%;
}

h1 {
	font-size: 3em;
	margin: 0.5em;
}

p {
	font-size: 1.5em;
	color: #3500d3;
}

em {
	color: #f1f1f1;
	font-style: normal;
}
