@import url("https://fonts.googleapis.com/css2?family=Lato&family=Lora&display=swap");

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: "Lato", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: black;
	color: #f1f1f1;
	overflow-x: hidden;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

p {
	font-family: "Lora", serif;
}
